
#mae{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:whitesmoke;
}
#section{
    height: 800px;
    width: 400px;
}
#saldoAtual{
    color: blue;
    font-weight: bold;
}
#saidaDespesas{
    color: rgb(209, 36, 36);
}
#saidaReceitas{
    color: rgb(57, 245, 19);
}
#receitas{
    box-shadow: -1px 1px 2px black;
    flex-direction: column;
    align-items: center;
    font-size: large;
    font-weight: bold;
    border-right-style: groove;
    border-right-width: 1px;
    border-right-color:black;
    display: flex;
    height: 80px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    float: left;
    justify-content: center;
}
#despesas{
    box-shadow: 1px 1px 2px black;
    flex-direction: column;
    align-items: center;
    font-size: large;
    font-weight: bold;
    justify-content: center;
    float: right;
    display: flex;
    height: 80px;
    width: 200px;
    background-color: rgb(255, 255, 255);
}
#transacoes, #addTransacoes{
    font-size: large;
    font-weight: bold;
    display: flex;
    flex-direction:column;
    height: 30px;
    color:black;
    border-bottom-style: groove;
    border-bottom-width: 1px;
    border-bottom-color:black;
}
#tranReceita{
    display: flex;
    align-items:center;
    justify-content: space-between;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    height: 50px;
    border-right-style:inset;
    border-right-width: 8px;
    border-right-color:rgb(57, 245, 19);
}
#transDespesa{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    height: 50px;
    border-right-style:inset;
    border-right-width: 8px;
    border-right-color:rgb(209, 36, 36);
}
#nomeTran{
    display: flex;
    align-items:center;
    justify-content: space-around;
    padding-left: 2rem;
}
#valorTran{
    display: flex;
    align-items:center;
    justify-content: space-around;
    padding-right: 2rem;
}
#botton{
    display: flex;
    align-items: center;
    justify-content: center;
}